# //backend

PORT=5001
PG_USER=
PG_HOST=
PG_DATABASE=
PG_PASSWORD=
PG_PORT=5432
DATABASE_URL=postgresql://<username>:<password>@<host>/<database>?sslmode=require
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/ecommerce?retryWrites=true&w=majority
JWT_SECRET=

# frontend

NEXT_PUBLIC_API_BASE_URL=https://fullstackexamjinalyakhawat09042026.onrender.com/api 
# 'http://localhost:5001/api'

