# //backend

PORT=5001
PG_USER=tw056
PG_HOST=localhost
# PG_DATABASE=ecommerce
DATABASE_URL=postgresql://neondb_owner:npg_sy1mBNSriQ2g@ep-young-scene-amassazj.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require
PG_PASSWORD=
PG_PORT=5432
MONGO_URI=mongodb+srv://jinalyakhawat_db_user:jinaly123@cluster0.mrgt5qw.mongodb.net/ecommerce?retryWrites=true&w=majority
JWT_SECRET=supersecret123


# frontend

NEXT_PUBLIC_API_BASE_URL=https://fullstackexamjinalyakhawat09042026.onrender.com/api 
# 'http://localhost:5001/api'

